<a href="https://colab.research.google.com/github/edwin-yan/Passion-Fruit-Disease-Detection/blob/andrew/inference_colab_format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
from google.colab import drive
drive.mount('/content/drive')
IMG_PATH = '/content/drive/MyDrive/JHU/DNN/FinalProject'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
category_index = {0: {'id': 0, 'name': 'fruit_healthy'},
                1: {'id': 1, 'name': 'fruit_woodiness'},
                 2: {'id': 3, 'name': 'fruit_brownspot'}}

Read from txt file: https://stackoverflow.com/questions/21546739/load-data-from-txt-with-pandas

In [56]:
import os
import pandas as pd
path = f'{IMG_PATH}/labels/'
filelist = os.listdir(path) 
df_write = pd.DataFrame(columns = ['Image_ID', 'class', 'confidence', 'ymin','xmin','ymax','xmax'])

for file in filelist:
  data = pd.read_csv(path+file, sep=" ", header=None)
  data = data.rename(columns={0:'class',1:'x',2:'y',3:'w',4:'h',5:'confidence'})
  data['class'] = data['class'].apply(lambda x: category_index[x]['name'])
  data['ymin'] = (data['y']-data['h']/2)*512
  data['xmin'] = (data['x']-data['w']/2)*512
  data['ymax'] = (data['y']+data['h']/2)*512
  data['xmax'] = (data['x']+data['w']/2)*512
  data['Image_ID'] = file.split('.')[0]

  cols = ['Image_ID','class','confidence','ymin',	'xmin',	'ymax',	'xmax']
  data = data[cols]

  df_write = df_write.append(data.nlargest(4, 'confidence'))

In [61]:
df_write

       Image_ID            class  ...        ymax        xmax
0   ID_0082Y2NI  fruit_woodiness  ...  322.000128  360.999936
0   ID_00DCPV52  fruit_brownspot  ...  365.000192  378.000128
0   ID_038S0ONN    fruit_healthy  ...  338.999808  342.000128
3   ID_03A7SMD5  fruit_woodiness  ...  323.000064  289.000192
2   ID_03A7SMD5  fruit_brownspot  ...  512.000256  451.000064
..          ...              ...  ...         ...         ...
0   ID_ZTYLLT5K    fruit_healthy  ...  420.999936  407.999744
0   ID_ZXJWMN4C  fruit_woodiness  ...  445.000192  412.999680
0   ID_ZZ4JDA0O  fruit_brownspot  ...  392.999936  420.000000
0   ID_ZZI6IV38    fruit_healthy  ...  354.000128  313.999872
0   ID_ZZUQRVHG    fruit_healthy  ...  373.000192  346.999808

[1281 rows x 7 columns]

In [62]:
df_write.to_csv('/content/drive/MyDrive/JHU/DNN/FinalProject/submission_yolo_unnormalized_top4.csv', encoding='utf-8', index=False)

get top 4 https://stackoverflow.com/questions/43859416/finding-top-10-in-a-dataframe-in-pandas

Reorder cols:
 https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns

In [57]:
data

      Image_ID          class  confidence  ...       xmin        ymax        xmax
0  ID_ZZUQRVHG  fruit_healthy    0.975776  ...  99.999744  373.000192  346.999808

[1 rows x 7 columns]

In [58]:
cols = ['Image_ID','class','confidence','ymin',	'xmin',	'ymax',	'xmax'	]

In [59]:
data = data[cols]

In [60]:
data

      Image_ID          class  confidence  ...       xmin        ymax        xmax
0  ID_ZZUQRVHG  fruit_healthy    0.975776  ...  99.999744  373.000192  346.999808

[1 rows x 7 columns]